<!DOCTYPE html>

<html lang="en">
    <head>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
    <style>
        body
        {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .fixed-header, .fixed-fotter
        {
            width: 100%;
            position: fixed;
            background: #333;
            padding: 10px 0;
            color: #fff;
        }

        .fixed-header
        {
            top: 0;
        }

        .fixed-footer
        {
            bottom: 0;
        }

        .container
        {
            width: 80%;
            margin: 0 auto;
        }

        nav a
        {
            color: #fff;
            text-decoration: none;
            padding: 7px 25px;
            display: inline-block;
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Dashboard</title>
</head>
<body>
    <div class="fixed-header">
        <div class>
            <nav>
                <a href="/"><span style="font-size: 40px;">CVIRUS-19 Dashboard</span></a>
            </nav>
        </div>
    </div>

    <div>
        <div class="col-lg-3" style="float: left; max-height: 650px; max-width:450px; overflow: scroll;overflow-x: hidden;">
            <div style="background: black; color: #fff;"><h3>Total Infected - {{total_counts}}</h3></div>
            <div class="col-lg-12" style="float: left;">
                <form method="post" enctype="multipart/form-data" action="selectCountry/">
                    {% csrf_token %}
                    <div class="col-lg-4" style="float: left;">
                        {% for country in countries%}
                        <table style="border-width: 2px; border: #333;">
                        <tr>
                            <input type="submit" value={{country}} name="country" style="width:80px;margin-bottom:2px; border-radius: 3px;"><br>
                        </tr>
                    </table>
                        {% endfor %}
                    </div>
                    <div style="float: left;"> 
                        <canvas id="myChart" style="width: 200px;height: 520px;"></canvas>
                    </div>
                    </form>
            </div>
        </div>


        <div class="col-lg-6" style="float: left;">
            <br><br>
            <h2 style="text-align: center;">Analysis on {{selectedcountry}}</h2><br>
            <div>
                <canvas id="lineChart" style="width:750px; height: 550px;"></canvas>
            </div>
        </div>

        <div class="col-lg-3"></div>
    </div>
</body>


<!-- Bar graph -->
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chartOptions =
        {
            legend:
            {
                display: true
            },
            scales:
            {
                xAxes: [{
                    barPercentage:1
                }],
                yAxes: [
                    {ticks: {display:false}},
                    {display: false},
                ],
            elements:{
                rectangle: {
                    borderSkipped: 'left',
                }
            }
            }
        };
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'horizontalBar',

            // The data for our dataset
            data: {
                labels: {{countries|safe}},
                datasets: [{
                    label: 'Cases on {{given_date|safe}}',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(0, 0, 0)',
                    data: {{case_counts|safe}}
                }]
            },

            // Configuration options go here
            options: chartOptions
        });
    </script>

<!-- Country Chart -->
<script>
    var data2={{datasetsForLine|safe}};
    var chartOptions2 = {
            legend: {
                display: true
                    },
            scales: {
                yAxes: [{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: true,
                    position: 'left',
                    id: 'y-axis-1',
                }, {
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: true,
                    position: 'right',
                    id: 'y-axis-1',

                    // grid line settings
                    gridLines: {
                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                }],
            },
        };
    var ctx2 = document.getElementById('lineChart').getContext('2d');  
	var myLineChart = new Chart(ctx2, {
        type: 'line',
        data: {labels:{{axisvalues|safe}},datasets:data2,},
        options: chartOptions2
        });
</script>

</html>